/*zmienne*/
:root {
    --background-color: #0b0b0e;
    --text-color: #cccccc;
    --secondary-text-color: #cfcfcfa0;
    --pink-color: #ed6f86;
    --yellow-color: #ffcf22;
    --base-font-size: 22px;
    --font-family: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--base-font-size);
    text-align: center;
    padding: 40px 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.logo {
    font-weight: bold;
    font-size: 32px;
}

.logo-yellow {
    color: var(--yellow-color);
}

.logo-pink {
    color: var(--pink-color);
}

.socials {
    margin-top: 10px;
}

.socials a {
    color: var(--secondary-text-color);
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.socials a:hover {
    color: var(--pink-color);
}

.main {
    width: 100%;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
}

.text-content {
    max-width: 600px;
    text-align: right;
}

.main-image {
    width: 300px;
    height: auto;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.main-text {
    margin-bottom: 20px;
    line-height: 1.5;
    color: var(--text-color);
}

.secondary-text {
    color: var(--secondary-text-color);
    font-size: 20px;
    line-height: 1.5;
}

.icona_heands {
    width: 20px;
    height: 20px;

}

.img {
    flex-shrink: 0;
}

/*footer*/
footer {
    margin-top: 40px;
    padding: 20px 0;
    border: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.contact p {
    color: var(--secondary-text-color);
    margin-top: 10px;
}

.contact a {
    margin-top: 10px;
    color: var(--secondary-text-color);
    text-decoration: none;
    transition: color 0.3s;
}

.contact a:hover {
    color: var(--pink-color);
}


/*responsywność*/

@media (max-width: 430px) {

    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .socials {
        flex-direction: row;
        justify-content: center;
    }

    .main .content {
        flex-direction: column;
        text-align: center;
    }

    .text-content {
        text-align: center;
    }

    .img img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .footer-content {
        align-items: center;
        text-align: center;
    }

    .contact {
        align-items: center;
    }
}